html{width:100%}body{overflow-x:hidden!important}body.show-spinner>main{overflow:hidden!important}body.show-spinner>*{opacity:0}body.show-spinner::after{content:" ";display:inline-block;width:30px;height:30px;border:2px solid rgba(0,0,0,.2);border-radius:50%;border-top-color:rgba(0,0,0,.3);animation:spin 1s ease-in-out infinite;-webkit-animation:spin 1s ease-in-out infinite;left:calc(50% - 15px);top:calc(50% - 15px);position:fixed;z-index:1}@keyframes spin{to{transform:rotate(360deg)}}@-webkit-keyframes spin{to{-webkit-transform:rotate(360deg)}}

ul.role-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
}

ul.role-wrapper li {
    flex: 0 0 23%;
}

.custom-nav-tabs.nav-tabs .nav-link.active {
    background-color: #00365a;
    color: white;
}

.custom-nav-tabs {
    gap: 20px;
}

.custom-nav-tabs.nav-tabs .nav-link {
    padding: 10px 23px 9px;
}

h5#deleteModalLabel {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    display: block;
}

#deleteConfirmModal .modal-header {
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    border: 0;
}

#deleteConfirmModal .modal-body {
    border: 0 !important;
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}

div#deleteConfirmModal .modal-footer {
    border: 0;
    padding-top: 0;
    align-items: center;
    justify-content: center;
}